h4 {
    font-family: sans-serif;
}

h3 {
    font-family: sans-serif;
}

a {
    font-family: sans-serif;
}

body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1zm4gphRMcH0dHKDQhdmgujKNrxJI9Bdv2uaVeets7g&s");
  background-size: 100vw 100vh;
}

h1 {
      font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h2 {
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.gradient {
background: linear-gradient(to right, #f32170, 
                    #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
 background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
