h3 {
    font-family: sans-serif;
}

a {
    font-family: sans-serif;
}

body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhg7D7IQA5ylmewxBV0_F5U8DjUWMPeR7NoLGHzcr8PIqjOdYRQ82VjNY&s");
  background-size: 300% 300%;
}
